*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width : 100%;
}

.container{
  height: 100vh;
  width : 100vw;
  display: flex;
  gap : 20px;
  padding : 20px;
  flex-wrap: wrap;
}

.card{
  padding : 20px;
  height: 320px;
  width : 320px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top img{
  height: 50px;
  width : 50px;
  border-radius: 50%;
  object-fit : cover;
}
.top button{
  padding : 10px;
  border : none;
  background-color: #007bff;
  color : white;
  border-radius: 5px;
  cursor : pointer;
}
.top button:hover{
  background-color: #0056b3;
}
.middle{
  margin-top: 20px;}

.middle h1{
  font-size: 24px;
  color : #333;
}
.middle p{
  font-size: 16px;
  color : #666;
}
.middle-top-left{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.middle-top-left p{
  font-size: 16px;
  color : #666;
  margin-left: 10px;
  font-weight: 200;
}
.middle-bottom{
  display: flex;
  justify-content: start;
  gap : 15px;
  align-items: center;
  margin-top: 14px;
}
.middle-bottom h8{
  font-size: 16px;
  color : #111;
  background-color: rgb(183, 182, 182);
  border : 1px solid #dadada;
  padding : 5px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-top : 2px solid #dadada;
 
}
.bottom button{
  padding : 10px;
  border : none;
  background-color: #007bff;
  color : white;
  border-radius: 5px;
  cursor : pointer;
}
.bottom button :hover{
  background-color: #234469;
}
.bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;


}
.bottom p{
  font-size: 16px;
  color : #111;
  
}